
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

header {
    /*POWDER BLUEbackground-color: #b0e0e6;*/
    /* SKY BLUE::::background-color: #87CEEB;*/
    /* CORAL:::: #FF5733*/
    background-color: 	#4682B4;
    margin: auto -16px;
    padding: 16px 32px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

header h1 {
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}
