@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #F0F8FF;
}

.main-container{
    display: flex;
    background-color: #F0F8FF;
    flex-direction: column;
}

.cards-container{
    width: 100%;
    height: fit-content;
    background-color: #F0F8FF;
}

.joke-container{
    width: 100%;
    display: flex;
    height: fit-content;
    justify-content: space-between;
    flex-direction: column;
    background-color: #b9e7ff;
}

.joke-text-container{
    width: fit-content;
    display: flex;
    flex-direction: column;
    height: fit-content;
    justify-content: center;
    margin: 16px;
    /*background-color: #cccccc;*/
}
.joke-text{
    font-size: 1.1em;
    white-space: pre-wrap;
    word-wrap: break-word;
    user-select: none;
}

.load-btn-container{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    height: fit-content;
    /*background-color: #ffb687;*/
}