@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

.btn-container {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    background: #F0F8FF;
    border-radius: 7px;
    box-shadow: 0 2px 5px #ccc;
    padding: 8px;
    width: 150px;
    height: 50px;
    margin: 16px;
    float: left;
}

.btn-container:hover{
    background: #4682B4;
}

.icon-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.reload-icon {
    height: 22px;
    width: 22px;
    user-select: none;
}

.text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px
}

.p {
    font-size: 1.1em;
    margin-bottom: 6px;
    user-select: none;
}
