.card {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background: #fff;
    border-radius: 7px;
    box-shadow: 0 2px 5px #ccc;
    padding: 8px;
    width: fit-content;
    margin: 16px;
    float: left;
}

.card h1 {
    font-size: 1.1em;
    margin-bottom: 6px;
    user-select: none;
}

.card p {
    font-size: 1.1em;
    margin-bottom: 10px;
    white-space: pre-wrap;
    word-wrap: break-word;
    user-select: none;
}

.card-profile-picture {
    height: 50px;
    width: 50px;
    user-select: none;
}

.card-profile-picture-container {
    width: fit-content;
    margin: 10px;
}

.card-profile-picture-info {
    width: fit-content;
    margin: 10px;
}

.clickedCard {
    display: flex;
    cursor: pointer;
    justify-content: space-between;
    flex-direction: row;
    background: #ffb687;
    border-radius: 7px;
    box-shadow: 0 2px 5px #ccc;
    padding: 8px;
    width: fit-content;
    margin: 16px;
    float: left;
}

.clickedCard h1 {
    font-size: 1.1em;
    margin-bottom: 6px;
    user-select: none;
}

.clickedCard p {
    font-size: 1.1em;
    margin-bottom: 10px;
    white-space: pre-wrap;
    word-wrap: break-word;
    user-select: none;
}
