.card {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    background: #fff;
    border-radius: 7px;
    box-shadow: 0 2px 5px #ccc;
    padding: 8px;
    width: 275px;
    margin: 16px;
    float: left;
}

.card:hover{
    background: #4682B4;
}

.card h1 {
    font-size: 1.1em;
    margin-bottom: 6px;
    user-select: none;
}

.card p {
    font-size: 1.1em;
    margin-bottom: 10px;
    white-space: pre-wrap;
    word-wrap: break-word;
    user-select: none;
}

.card-profile-picture {
    height: 50px;
    width: 50px;
    user-select: none;
}

.card-profile-picture-container {

    /*background-color: #87CEEB;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-profile-picture-info {
    /*background-color: #fdac98;*/
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 10px;
}

.clickedCard {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    background: #b0e0e6;
    border-radius: 7px;
    box-shadow: 0 2px 5px #ccc;
    padding: 8px;
    width: 275px;
    margin: 16px;
    float: left;
}

.clickedCard h1 {
    font-size: 1.1em;
    margin-bottom: 6px;
    user-select: none;
}

.clickedCard p {
    font-size: 1.1em;
    margin-bottom: 10px;
    white-space: pre-wrap;
    word-wrap: break-word;
    user-select: none;
}
